/* -----------------
Tabla de contenidos:
--------------------
1. Fuente ......................... 10
2. Variables ...................... 13
3. Estilos generales .............. 32
-------------------- */

/* ----- Fuente ----- */
@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");

/* ----- Variables ----- */
* {
	--primary-font-family: "Montserrat", sans-serif;
	--font-size: 1rem;
	--lh-text: 1.5rem;

	--body-bg-color: #212020;
	--card-bg-color: #242323;
	--tag-color: #1e1d1d;
	--footer-bg-color: #1f1e1e;
	--text-color: #c2c2c2;

	--fb-bg-color: #456da4;
	--ig-bg-color: #ffffff;
	--li-bg-color: #0984c6;
}

/* ----------------------------- */
/* ----- Estilos generales ----- */
/* ----------------------------- */
body {
	font-family: var(--primary-font-family);
	font-size: var(--font-size);
	line-height: var(--lh-text);
	background-color: var(--body-bg-color);
	color: var(--text-color);
	text-align: center;
}

